<div class="note-content">
    <a class="" href="/board/<%=nowNoteBookId%>"><button>List</button></a>
    <a href="/board/<%=nowNoteBookId%>/<%=noteData[0].id%>/notemodify"><button>Retouch</button></a>
    <a href="/board/<%=nowNoteBookId%>/<%=noteData[0].id%>/notedelete-process"><button>Delete</button></a>
    <h3 class="note-content__content-title"><%=noteData[0].title%></h3>
    <p class="note-content__content-content"><%=noteData[0].content%></p>
  </div>